# Auto detect text files and perform LF normalization
* text=auto
Bulan filter=lfs diff=lfs merge=lfs -text
Vr filter=lfs diff=lfs merge=lfs -text
Wau filter=lfs diff=lfs merge=lfs -text
Wau_Bulan_Vr filter=lfs diff=lfs merge=lfs -text
unity filter=lfs diff=lfs merge=lfs -text
Wau[[:space:]]Bulan[[:space:]]Vr filter=lfs diff=lfs merge=lfs -text
.dylib filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
